sphinx
furo
myst_parser
sphinx-copybutton
sphinx-gallery
sphinx-design

ipython
jupyterlab
trame
trame_vtk
trame_vuetify

pykeops >= 2.2.2 # otherwise trouble to generate galleries using keops as backend

