sphinx
furo
myst_parser
sphinx-copybutton
sphinx-gallery
sphinx-design

ipython
jupyterlab
trame
trame_vtk
trame_vuetify
imageio

# otherwise trouble to generate galleries using keops as backend
keopscore @  git+https://github.com/Louis-Pujol/keops.git@patch-syspath#subdirectory=keopscore
pykeops @ git+https://github.com/Louis-Pujol/keops.git@patch-syspath#subdirectory=pykeops

